<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctorwork.union.module.doctor.dao.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.doctorwork.union.module.doctor.bean.Doctor" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="agent_id" property="agentId" jdbcType="VARCHAR" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="doctor_avatar" property="doctorAvatar" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="specialty" property="specialty" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="work_price" property="workPrice" jdbcType="DECIMAL" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="account_status" property="accountStatus" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="invitation_count" property="invitationCount" jdbcType="INTEGER" />
    <result column="card_user_name" property="cardUserName" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="card_bank" property="cardBank" jdbcType="VARCHAR" />
    <result column="passport_id" property="passportId" jdbcType="VARCHAR" />
    <result column="platform_rebate" property="platformRebate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, agent_id, doctor_name, doctor_avatar, sex, phone, hospital, department, title, 
    specialty, note, work_price, order_price, account_status, is_delete, create_time, 
    modify_time, invitation_count, card_user_name, id_card, card_number, card_bank, passport_id, 
    platform_rebate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doctorwork.union.module.doctor.bean.DoctorCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_doctor
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.doctorwork.union.module.doctor.bean.Doctor" >
    insert into t_doctor (id, agent_id, doctor_name, 
      doctor_avatar, sex, phone, 
      hospital, department, title, 
      specialty, note, work_price, 
      order_price, account_status, is_delete, 
      create_time, modify_time, invitation_count, 
      card_user_name, id_card, card_number, 
      card_bank, passport_id, platform_rebate
      )
    values (#{id,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{doctorAvatar,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{hospital,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{specialty,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{workPrice,jdbcType=DECIMAL}, 
      #{orderPrice,jdbcType=DECIMAL}, #{accountStatus,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, #{invitationCount,jdbcType=INTEGER}, 
      #{cardUserName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{cardBank,jdbcType=VARCHAR}, #{passportId,jdbcType=VARCHAR}, #{platformRebate,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.doctorwork.union.module.doctor.bean.Doctor" >
    insert into t_doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="doctorName != null" >
        doctor_name,
      </if>
      <if test="doctorAvatar != null" >
        doctor_avatar,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="hospital != null" >
        hospital,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="specialty != null" >
        specialty,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="workPrice != null" >
        work_price,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="accountStatus != null" >
        account_status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="invitationCount != null" >
        invitation_count,
      </if>
      <if test="cardUserName != null" >
        card_user_name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="cardBank != null" >
        card_bank,
      </if>
      <if test="passportId != null" >
        passport_id,
      </if>
      <if test="platformRebate != null" >
        platform_rebate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorAvatar != null" >
        #{doctorAvatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="workPrice != null" >
        #{workPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="accountStatus != null" >
        #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="invitationCount != null" >
        #{invitationCount,jdbcType=INTEGER},
      </if>
      <if test="cardUserName != null" >
        #{cardUserName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardBank != null" >
        #{cardBank,jdbcType=VARCHAR},
      </if>
      <if test="passportId != null" >
        #{passportId,jdbcType=VARCHAR},
      </if>
      <if test="platformRebate != null" >
        #{platformRebate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doctorwork.union.module.doctor.bean.DoctorCriteria" resultType="java.lang.Integer" >
    select count(*) from t_doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctorwork.union.module.doctor.bean.Doctor" >
    update t_doctor
    <set >
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorAvatar != null" >
        doctor_avatar = #{doctorAvatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="workPrice != null" >
        work_price = #{workPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="accountStatus != null" >
        account_status = #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="invitationCount != null" >
        invitation_count = #{invitationCount,jdbcType=INTEGER},
      </if>
      <if test="cardUserName != null" >
        card_user_name = #{cardUserName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardBank != null" >
        card_bank = #{cardBank,jdbcType=VARCHAR},
      </if>
      <if test="passportId != null" >
        passport_id = #{passportId,jdbcType=VARCHAR},
      </if>
      <if test="platformRebate != null" >
        platform_rebate = #{platformRebate,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctorwork.union.module.doctor.bean.Doctor" >
    update t_doctor
    set agent_id = #{agentId,jdbcType=VARCHAR},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      doctor_avatar = #{doctorAvatar,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      hospital = #{hospital,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      work_price = #{workPrice,jdbcType=DECIMAL},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      account_status = #{accountStatus,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      invitation_count = #{invitationCount,jdbcType=INTEGER},
      card_user_name = #{cardUserName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      card_bank = #{cardBank,jdbcType=VARCHAR},
      passport_id = #{passportId,jdbcType=VARCHAR},
      platform_rebate = #{platformRebate,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>